@media (max-width:2000px) {     
    .container {
    min-height: 100vh;
    }
    .table {
        font-family: 'Reem Kufi', sans-serif;
        text-align: center;
        font-size: medium;
        height: 94vh;
    }
    .agentTag {
        width: 8rem;
    }
    .statusTag {
        text-align: center;
        font-size: medium;
        width: 6rem;
    }
    .durationTag {
        text-align: center;
    }
    .inboundTag {
        text-align: center;
    }
    .outboundTag {
        text-align: center;
    }
    .totalBreakTag {
        text-align: center;
    }
    .totalExtraTag {
        text-align: center;
    }
}


@media (max-width:1200px) {     
    .container {
        margin-top: 500px;
    }   
}
@media screen and (max-width: 1400px) {
    .container {
      background-color: blue;
      margin-top: 500px;
      min-height: 50vh;
    }
}