.container {
    background-color: white;
    min-height: 30vh;
    border-radius: 0.8vw;    
}
.wrapper {
    text-align: center;
    display: flex;
    height: 100%;
}
.progress {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 3vh;
}
/* .carousel {
    background-color: white;
    min-height: 30vh;
    border-radius: 0.8vw;    
} */
.percent {
    position: absolute;
    top:50%;
    width: 14%;
    text-align: center;
    font-size: 5.3vh;
    font-family: 'Reem Kufi', sans-serif;
}
.title {
    color: #4F4F4F;
    /* font-size: 3vh; */
    font-family: 'Reem Kufi', sans-serif;
}
.span1 {
    font-size: 50px; 
    font-weight: bold;
    color: #7F7FD5; 
    border-radius: 20px;
    border: 5px;
}
.span2 {    
    color: #1a237e;
}