.gutter-box {
    padding: 8px 0;
    background: #00a0e9;
}

.site-card-border-less-wrapper {
    padding: 30px;
    background: #ececec;
    
}

.container {
    background-color: #EFF3F9;
    padding: 0 1vw 0 1vw;
}

.statusTitle {
    text-align: 'center';
    font-family: 'Reem Kufi';
    color: '#4F4F4F';
}

