.container {
    background-color: #FFFFFF;
    border: white 0.8vw solid;
    border-radius: 0.8vw;
    height: 19vh;
    margin-bottom: 5%;
}
.carousel {
    margin: 0;
    padding: 0;
}
.content {
    /* height: 160px;
    color: #4F4F4F;
    line-height: 160px;
    text-align: center;
    background: #364d79; */
    margin: 0;
    padding: 0;
}
.wrapper {
    display: flex;
    justify-content: space-around;
    
}
.h1Style{
    font-family: 'Reem Kufi', sans-serif;
    font-size: 40px;
    color: #4F4F4F;
    text-align: center;
    margin: 0px;
    padding: 0px;
}
.h3Style {
    font-family: 'Reem Kufi', sans-serif;
    font-size: 20px;
    color: #4F4F4F;
    text-align: center;
}
.hrStyle {
    width: 200px;
    height: 10px;
    background-color: #7F7FD5;
    border-radius: 1rem;
}
