@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}
* {
  box-sizing: border-box;
}
.ant-carousel .slick-dots li{
  background-color: #7F7FD5;
  color: #7F7FD5;
}

.ant-carousel .slick-dots {
  position: relative;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex !important;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  padding-left: 0;
  list-style: none;
  
}

ul.slick-dots.slick-dots-bottom {
  position: relative;
  margin-top: 4vh;
}

.ant-carousel .slick-dots li.slick-active button {
  background: #4527a0 !important;
  opacity: 0;
  
}

tbody > td {
  font-style: 50px !important;
  width: 100% !important;
  text-align: center !important;
  
}
.ant-table-cell {
  font-size: 1rem;
}

