@import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap');

.container {
    background-color: #EFF3F9;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: center;
}
.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.icon {
    font-size: 1.5vw;
    color: #979797;
    padding-left: 0.8vw;
}
.name {
    margin-top: 2vh; 
    font-family: 'Reem Kufi', sans-serif;
    font-size: medium;
    color: #979797;
    font-weight: 400;
}


