.logo {
    position: absolute;
    width: 5em;
    height: 2em;
    left: 525px;
    top: 260px;
}
.vectorA {
    position: absolute;
    left:-36vh;
    bottom: -36%;
    overflow: hidden;
}
.vectorB {
  position: absolute;
  top: -5vh;
  right: 0;
  overflow: hidden;
}
.mainLayout {
    display: flex;
    width: 50%;
    margin: auto;
    justify-content: center;
    margin-top: 10%;
}



.mainContainer {
    background-color: yellow;
}

.textLine {
  position        : relative;
  background-color: transparent;
  color           : #eeeeee;
  outline         : none;
  outline-style   : none;
  outline-offset  : 0;
  border-top      : none;
  border-left     : none;
  border-right    : none;
  border-bottom   : solid #eeeeee 1px;
  padding         : 3px 10px;
}

.loginLine {
  background-color: transparent;
  color           : #eeeeee;
  outline         : none;
  outline-style   : none;
  outline-offset  : 0;
  border-top      : none;
  border-left     : none;
  border-right    : none;
  border-bottom   : none;
  padding         : 3px 10px;
}

.logoStyle {
  padding-top   : 10%;
  padding-bottom: 15%;
  margin-right  : 15px;
  margin-left   : 15px;
  text-align    : center;
  display       : block;
}

.forgot {
  font-family: Poppins;
  font-style : normal;
  font-weight: bold;
  font-size  : 10px;
  line-height: 15px;
  color      : #FF000D;
}

/* Style buttons */
.btn {
  width           : 100%;
  background-color: #FF1C27;
  /* Blue background */
  border          : none;
  /* Remove borders */
  color           : white;
  /* White text */
  padding         : 12px 16px;
  /* Some padding */
  font-size       : 22px;
  /* Set a font size */
  cursor          : pointer;
  /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: #FF000D;
  color           : white;
}

.userInputWrp {
  position: relative;
  width   : 100%;
}

.userInputWrp.active {
  position  : relative;
  width     : 100%;
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1)
}

.userInputWrp .inputText {
  width         : 100%;
  outline       : none;
  border        : none;
  border-bottom : 1px solid #C2C2C2;
  box-shadow    : none !important;
  padding-left  : 30px;
  padding-bottom: 3px;
  font-family   : Poppins;
}

.userInputWrp .inputText:focus,
.userInputWrp .inputText:not(:focus):valid {
  font-weight : bold;
  border-width: medium medium 0px;
}

.userInputWrp .floatingLabel {
  font-family   : Poppins;
  position      : absolute;
  pointer-events: none;
  top           : 20px;
  left          : 30px;
  font-weight   : 500;
  color         : #C2C2C2;
  transition    : 0.2s ease all;
}

.userInputWrp input:focus~.floatingLabel,
.userInputWrp input:not(:focus):valid~.floatingLabel {
  top      : 0px;
  left     : 30px;
  font-size: 12px;
  opacity  : 1;
}

.userInputWrp input:focus~.userInputWrp,
.userInputWrp input:not(:focus):valid~.userInputWrp {
  box-shadow: 3px 4px 10px rgba(0, 0, 0, 0.1);
}

.customContainer {
  padding-right: 40px;
  padding-left : 40px;
  margin-right : auto;
  margin-left  : auto;
  position: absolute;
}

.permission{
  background-color: #FF000D;
  width: 100%;
  height: 40px;
  color: white;
  text-align: center;
  font-size: 15px;
}

.permission span{
  vertical-align: -webkit-baseline-middle;
}