.container {
    background-color: #FFFFFF;
    border: white 1px solid;
    border-radius: 0.8vw;
    min-height: 30vh;
}
.title {
    text-align: center;
    font-family: 'Reem Kufi', sans-serif;
    color: #4F4F4F;
}
.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8vh;
}
.font{
    font-family: 'Reem Kufi', sans-serif;
}